Dockerfile*
.docker-compose.*
node_modules
.yarn/cache
.yarn/sdks
.yarn/install-state.gz
.npmrc
.vscode
.env
.env.*
.editorconfig
.git
.gitignore
.next
.draft
cdk.out
db-dumps
dist
examples
libs
notes
scripts
tmp
npm-debug.log
README.md
LICENSE
tools
coverage
docker
yarn-error.log
cdk.json

#.prettierrc*

